.footer{
    border : 2px solid brown;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 98%;
    background-color: gray;
    text-align: center;
    font-size: 18px;
}